<h1>Administration Panel</h1>
<div id="article">

 <a href="/listusers" class="btn btn-large btn-primary">List Users</a><br/><br/>
 <a href="/inviteuser" class="btn btn-large btn-primary">Invite User</a><br/><br/>
 <a href="/exportdb" class="btn btn-large btn-primary">Export Database</a><br/><br/>
 <a href="/importdb" class="btn btn-large btn-primary">Import Database</a><br/><br/>
</div>

