<h1>Select a Node to Edit</h1>
<div class="col-xs-11" position:"left";>
 <form id="adminnodeeditform" action="/choosenode" method="get" role="form" class="form-horizontal">
  <div class="form-group">
   <label>Node Locator</label>
   <input type="text" class="form-control" id="locator" name="locator" class="form-control">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Edit Node</button>
 </form> 

</div>
