<h1>Blog Central!</h1>
{{#if isAuthenticated}}
<div class="form-group">
  <a href="/blog/new"><button type="submit" class="btn btn-btn-success btn-small">New Article</button></a><br />
</div>
{{/if}}
<!-- Pagination data -->
<div id="tabledata" query="{{query}}" start="{{start}}" count="{{count}}" total="{{total}}"></div>
<div class="col-xs-10 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
  <div class="tableindex"></div>
</div>
<div class="col-xs-12" position:"left">
  <div class="pagination"></div>
</div>

