<h1>Blog Central!</h1>
{{#if isAuthenticated}}
<div class="form-group">
  <a href="/blog/new"><button type="submit" class="btn btn-btn-success btn-small">New Article</button></a><br />
</div>
{{/if}}
<div class="form-group">
  <div class="col-xs-11" position:"left";>
    <h2><img src="{{image}}"> {{title}}</h2>
    <table id="datatable" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="70%">Subject</th><th>Author</th><th>Date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
