<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='/js/calendar/jquery-ui.custom.min.js'></script>
<script src='/js/calendar/moment.min.js'></script>
<script src='/js/calendar/fullcalendar.js'></script>
<div class="col-xs-12">
<div id="calendar"></div>

</div>