<h1>TopicQuests Foundation</h1>
<center>
<div id="featured"> 
  <img src="images/landing/s1.png" />
  <img src="images/landing/s2.png" />
  <img src="images/landing/s3.png" />
  <img src="images/landing/s4.png" />
  <img src="images/landing/s5.png" />
  <img src="images/landing/s6.png" />
  <img src="images/landing/s7.jpg" />
  <img src="images/landing/s8.png" />
</div>
<div id="article">
 <div id="activities">
  <h2>Activities</h2>
  <a href="/blog" class="btn btn-large btn-primary">Blog</a> <a href="/matrix" class="btn btn-large btn-primary">Standards Matrix</a>
 </div>
</div>
</center>
<div id="footer">
<img src="images/TopicQuestsLogo_sm.png" />
</div>
