<h1>TopicQuests Foundation</h1>
<div id="featured"> 
  <img src="images/landing/s1.png" />
  <img src="images/landing/s2.png" />
  <img src="images/landing/s3.png" />
  <img src="images/landing/s4.png" />
  <img src="images/landing/s5.png" />
  <img src="images/landing/s6.png" />
  <img src="images/landing/s7.png" />
  <img src="images/landing/s8.png" />
</div>
<div id="article">
<h2>Activities go here</h2>
</div>
<div id="footer">
<img src="images/TopicQuestsLogo_sm.png" />
</div>
