  <div class="col-sm-6 col-sm-offset-3">

	<h1>Invite User</h1>

	<form id="inviteform" action="/inviteuser" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Submit</button>
	</form>
  </div>