<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#landing">IssueCentral Home</a></li>
  <li><a data-toggle="tab" href="#issues">Issues</a></li>
  <li><a data-toggle="tab" href="#quests">Quests</a></li>
  <li><a data-toggle="tab" href="#guilds">Guilds</a></li>
</ul>
<div class="tab-content">
  <div id="landing" class="tab-pane fade in active">
   <h1>Issue Central!!</h1>
  </div>
  <div id="issues" class="tab-pane fade">
   <h1>Where Issues Live</h1>
  </div>
  <div id="quests" class="tab-pane fade">
   <h1>Where Quests Live</h1>
   <h2>Actually, Quests emerge based on specific issues; this is just where we aggregate all quests</h2>
  </div>
   <div id="guilds" class="tab-pane fade">
   <h1>Where Guilds Live</h1>
  </div>
  

</div> <!-- tab-content -->