<h1>Sixth Grade California Science Standards Matrix</h1>
<table class="table table-bordered">
 <thead>
  <tr>
   <th>Standard</th>
   <th>Classroom Activity</th>
   <th>Museum Exhibit</th>
   <th>Suggested Reading</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>EarthSciences: Earthquakes and volcanos</td>
   <td>Some link<br/>Another link</td>
   <td>Museum A<br/>Museum B</td>
   <td>A Book<br/>An online paper</td>
  </tr>
 </tbody>

</table>