<h1>TopicQuests Foundation</h1>

<div class="text-center">
 <div id="slides">
  <img src="images/landing/s1.png" />
  <img src="images/landing/s2.png" />
  <img src="images/landing/s3.png" />
  <img src="images/landing/s4.png" />
  <img src="images/landing/s5.png" />
  <img src="images/landing/s6.png" />
  <img src="images/landing/s7.jpg" />
  <img src="images/landing/s8.png" />
  <a href="#" class="slidesjs-previous slidesjs-navigation" id="slide-perviosID" style="z-index: 9999; color: #fff"><i class="icon-chevron-lefticon-large"></i></a>
  <a href="#" class="slidesjs-next slidesjs-navigation" id="slide-nextID" style="z-index: 9999; color: #fff"><i class="icon-chevron-right icon-large"></i></a>
  </div>
<!-- <div id="featured"> 
  <img src="images/landing/s1.png" />
  <img src="images/landing/s2.png" />
  <img src="images/landing/s3.png" />
  <img src="images/landing/s4.png" />
  <img src="images/landing/s5.png" />
  <img src="images/landing/s6.png" />
  <img src="images/landing/s7.jpg" />
  <img src="images/landing/s8.png" />
</div> -->
</div>
<div id="footer">
<img src="images/TopicQuestsLogo_sm.png" />
</div>
