    
   <br/>
    <table>
    <tr><td>
    <img src="/images/kahn/lessons.png"><br/>
    <img src="/images/kahn/demos.png"><br/>
    <img src="/images/kahn/homework.png"><br/>
    <img src="/images/kahn/projects.png"><br/>
    <img src="/images/kahn/fieldtrips.png"><br/>
    <img src="/images/kahn/assignments.png"><br/>
    <img src="/images/kahn/resources.png"><br/>
    </td>
    <td>
    <center>
    <img src="/images/kahn/basmtitle.jpg"><br/><br/>
    <img src="/images/kahn/investigation-experimentati.jpg"><br/>
    <center/>
    </td>
    </table>


    