<h1>Tag Central!</h1>
<div class="form-group">
  <div class="col-xs-11" position:"left";>
    <h2><img src="{{image}}"> {{title}}</h2>
    <table id="tagtable" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="70%">Tag</th><th>Author</th><th>Date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
