<div>
<h2><img src="{{image}}"> {{label}}</h2>
<div class="form-group">
  <div class="col-xs-7" position:"left";>
    <textarea id="desc" rows="5" name="body"" class="form-control">{{body}}</textarea>
  </div>
</div>

</div>