<div>
<div class="form-group">
  <div class="col-xs-7" position:"left";>
    <h2><img src="{{image}}"> {{title}}</h2>
    <textarea id="desc" rows="5" name="body"" class="form-control">{{body}}</textarea>
  </div>
</div>
<div class="form-group">
  <div class="navbar-right" position:"right";>
    
  </div>
</div>


</div>